# Frontend Configuration
NEXT_PUBLIC_CONTRACT_ADDRESS=0x5b4dCD6038a092d36afEB2e2C56A8201544c6eC1
NEXT_PUBLIC_CHAIN_ID=421614
NEXT_PUBLIC_RPC_URL=https://sepolia-rollup.arbitrum.io/rpc

# iExec Configuration
NEXT_PUBLIC_IEXEC_APP_ADDRESS=0xB27cfF3fc965FaD42B5a97c350c9D9449Fd92D79
NEXT_PUBLIC_IEXEC_WORKERPOOL=debug-v8-arbitrum-sepolia-testnet.main.pools.iexec.eth

# Fund contract for payouts:
# Send ETH to: 0x5b4dCD6038a092d36afEB2e2C56A8201544c6eC1
